.App {
  text-align: center;
  width: 1920;
  height: 1080;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(22px);
  color: white;
}

.p {
  top: 400;
  left: 80;
  color: '00000000'
}